<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ManagerDAO">

	<resultMap type="adminManager" id="managerResult">
		<!-- <id property="seq" column="SEQ" /> -->
		<result property="usercount" column="USERCOUNT" />
		<result property="procount" column="PROCOUNT" />
		<result property="userName" column="MEMBER_NAME" />
		<result property="userEmail" column="MEMBER_EMAIL" />
		<result property="regDate" column="REGDATE" />
		<result property="startTime" column="START_TIME" />
		<result property="endTime" column="END_TIME" />
		<result property="searchDay" column="SEARCH_DAY" />
	</resultMap>
	
	<select id="getUser" resultMap="managerResult">
		SELECT COUNT(*) as "USERCOUNT" FROM MEMBERINFO
	</select>
	
	<select id="getProject" resultMap="managerResult">
		SELECT COUNT(*) as "PROCOUNT" FROM PROJECTDIR
	</select>

	<select id="getUserList" resultMap="managerResult">
		<if test="searchCondition == 'NAME'">
			SELECT * FROM MEMBERINFO WHERE 1=1 
			AND MEMBER_NAME LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchCondition == 'PROJECTNAME'">
			SELECT MEMBER_NAME, MEMBER_EMAIL, PROJECT_NAME, REGDATE
			FROM MEMBERINFO JOIN PROJECT_LOOKUP USING(MEMBER_ID) JOIN PROJECTDIR USING(PROJECT_ID) WHERE 1=1
			AND PROJECT_NAME LIKE '%'||#{searchKeyword}||'%' 
		</if>
		ORDER BY MEMBER_ID ASC
	</select>
	
	<select id="getTimeLog" resultMap="managerResult">
		<if test="searchKeyword == null">
			SELECT MEMBER_NAME, MEMBER_EMAIL, TO_CHAR(CONNECTION_START, 'yyyy-mm-dd hh24:mi:ss') AS "START_TIME", 
			TO_CHAR(CONNECTION_END, 'yyyy-mm-dd hh24:mi:ss') AS "END_TIME" 
			FROM USER_CONNECTION JOIN MEMBERINFO USING(MEMBER_ID)
		</if>
		<if test="searchKeyword != null">
			SELECT MEMBER_NAME, MEMBER_EMAIL, TO_CHAR(CONNECTION_START, 'yyyy-mm-dd hh24:mi:ss') AS "START_TIME", 
			TO_CHAR(CONNECTION_END, 'yyyy-mm-dd hh24:mi:ss') AS "END_TIME" 
			FROM USER_CONNECTION JOIN MEMBERINFO USING(MEMBER_ID) WHERE TO_CHAR(CONNECTION_START, 'mm') = #{searchKeyword}
		</if>
		ORDER BY CONNECTION_SEQ ASC
	</select>
	
	<select id="getConnLog" resultMap="managerResult">
		SELECT (TO_CHAR(CONNECTION_START, 'HH24')) AS HOUR, COUNT(*) AS CNT
		FROM USER_CONNECTION WHERE TO_CHAR(CONNECTION_START, 'yyyy-mm-dd') = #{searchDay}
		GROUP BY (TO_CHAR(CONNECTION_START, 'HH24'))
		ORDER BY (TO_CHAR(CONNECTION_START, 'HH24'))
	</select>
	
</mapper>
