<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleDAO">

	<resultMap type="article1VO" id="articleResult">
		<id property="article_id" column="ARTICLE_ID"/>
		<result property="project_id" column="PROJECT_ID"/>
		<result property="project_name" column="PROJECT_NAME"/>
		<result property="form_name" column="FORM_NAME"/>
		<result property="regDate" column="REGDATE"/>
		<result property="file_name" column="FILE_NAME"/>
		<result property="file_size" column="FILE_SIZE"/>
		<result property="img_name" column="IMG_NAME"/>
		<result property="img_size" column="IMG_SIZE"/>
		<result property="writer" column="WRITER"/>
		<result property="writeForm1_content" column="WRITEFORM1_CONTENT"/>
		<result property="writeForm2_title" column="WRITEFORM2_TITLE"/>
		<result property="writeForm2_content" column="WRITEFORM2_CONTENT"/>
		<result property="writeForm2_latlng" column="WRITEFORM2_LATLNG"/>
		<result property="writeForm3_tasknum" column="WRITEFORM3_TASKNUM"/>
		<result property="writeForm3_title" column="WRITEFORM3_TITLE"/>
		<result property="writeForm3_status" column="WRITEFORM3_STATUS"/>
		<result property="writeForm3_workersName" column="WRITEFORM3_WORKERSNAME"/>
		<result property="writeForm3_start_date" column="WRITEFORM3_START_DATE"/>
		<result property="writeForm3_end_date" column="WRITEFORM3_END_DATE"/>
		<result property="writeForm3_progress" column="WRITEFORM3_PROGRESS"/>
		<result property="writeForm3_order" column="WRITEFORM3_ORDER"/>
		<result property="writeForm3_content" column="WRITEFORM3_CONTENT"/>
		<result property="writeForm4_title" column="WRITEFORM4_TITLE"/>
		<result property="writeForm4_start_date" column="WRITEFORM4_START_DATE"/>
		<result property="writeForm4_start_time" column="WRITEFORM4_START_TIME"/>
		<result property="writeForm4_end_date" column="WRITEFORM4_END_DATE"/>
		<result property="writeForm4_end_time" column="WRITEFORM4_END_TIME"/>
		<result property="writeForm4_alarm_time" column="WRITEFORM4_ALARM_TIME"/>
		<result property="writeForm4_content" column="WRITEFORM4_CONTENT"/>
		<result property="writeForm4_latlng" column="WRITEFORM4_LATLNG"/>
		<result property="writeForm5_title" column="WRITEFORM5_TITLE"/>
		<result property="writeForm5_content" column="WRITEFORM5_CONTENT"/>
		<result property="writeForm5_date" column="WRITEFORM5_DATE"/>
		<result property="writeForm5_worker" column="WRITEFORM5_WORKER"/>
		
	</resultMap>
	
	<select id="articleSelectAll" resultMap="articleResult">
	SELECT * FROM mainpage_article
	
	</select>

   <insert id="articleInsert" useGeneratedKeys="true" parameterType="article1VO">
   INSERT INTO mainpage_article
   (
    project_id,
   project_name, 
   article_id,
   form_name,
   regDate,
   file_name,
   file_size,
   img_name,
   img_size,
   writer,
   
   writeform1_content,
   
   writeform2_title,
   writeform2_content,
   writeform2_latlng,
   
   writeForm3_tasknum,
   writeForm3_title,
   writeForm3_status,
   writeForm3_workersName,
   writeForm3_start_date,
   writeForm3_end_date,
   writeForm3_progress,
   writeForm3_order,
   writeForm3_content,
   
   writeForm4_title,
   writeForm4_start_date,
   writeForm4_start_time,
   writeForm4_end_date,
   writeForm4_end_time,
   writeForm4_alarm_time,
   writeForm4_content,
   writeForm4_latlng,
   
   writeForm5_title,
   writeForm5_content,
   writeForm5_date,
   writeForm5_worker
   ) 
   VALUES
   (
   1,
   'test_project',
   article_seq.nextval,
   #{form_name},
   sysdate,
   #{file_name, jdbcType=VARCHAR},
   #{file_size, jdbcType=VARCHAR},
   #{img_name, jdbcType=VARCHAR},
   #{img_size, jdbcType=VARCHAR},
   'test_writer',
   
   #{writeForm1_content, jdbcType=VARCHAR},
   
   #{writeForm2_title, jdbcType=VARCHAR},
   #{writeForm2_content, jdbcType=VARCHAR},
   #{writeForm2_latlng, jdbcType=VARCHAR},
   
   #{writeForm3_tasknum, jdbcType=INTEGER},
   #{writeForm3_title, jdbcType=VARCHAR},
   #{writeForm3_status, jdbcType=VARCHAR},
   #{writeForm3_workersName, jdbcType=VARCHAR},
   #{writeForm3_start_date, jdbcType=VARCHAR},
   #{writeForm3_end_date, jdbcType=VARCHAR},
   #{writeForm3_progress, jdbcType=INTEGER},
   #{writeForm3_order, jdbcType=VARCHAR},
   #{writeForm3_content, jdbcType=VARCHAR},
   
   #{writeForm4_title, jdbcType=VARCHAR},
   #{writeForm4_start_date, jdbcType=VARCHAR},
   #{writeForm4_start_time, jdbcType=VARCHAR},
   #{writeForm4_end_date, jdbcType=VARCHAR},
   #{writeForm4_end_time, jdbcType=VARCHAR},
   #{writeForm4_alarm_time, jdbcType=VARCHAR},
   #{writeForm4_content, jdbcType=VARCHAR},
   #{writeForm4_latlng, jdbcType=VARCHAR},
   
   #{writeForm5_title, jdbcType=VARCHAR},
   #{writeForm5_content, jdbcType=VARCHAR},
   #{writeForm5_date, jdbcType=VARCHAR},
   #{writeForm5_worker, jdbcType=VARCHAR}
   
   )
   </insert>

</mapper>