<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleDAO">

   <insert id="articleInsert" useGeneratedKeys="true" parameterType="article1VO">
   INSERT INTO mainpage_article
   (
    project_id,
   project_name, 
   article_id,
   form_name,
   regDate,
   file_name,
   file_size,
   img_name,
   img_size,
   writer,
   
   writeform1_content,
   
   writeform2_title,
   writeform2_content,
   writeform2_latlng,
   
   writeForm3_tasknum,
   writeForm3_title,
   writeForm3_status,
   writeForm3_workersName,
   writeForm3_start_date,
   writeForm3_end_date,
   writeForm3_progress,
   writeForm3_order,
   writeForm3_content,
   
   writeForm4_title,
   writeForm4_start_date,
   writeForm4_start_time,
   writeForm4_end_date,
   writeForm4_end_time,
   writeForm4_alarm_time,
   writeForm4_content,
   writeForm4_latlng,
   
   writeForm5_title,
   writeForm5_content,
   writeForm5_date,
   writeForm5_worker
   ) 
   VALUES
   (
   1,
   'test_project',
   article_seq.nextval,
   #{form_name},
   sysdate,
   #{file_name, jdbcType=VARCHAR},
   #{file_size, jdbcType=VARCHAR},
   #{img_name, jdbcType=VARCHAR},
   #{img_size, jdbcType=VARCHAR},
   'test_writer',
   
   #{writeForm1_content, jdbcType=VARCHAR},
   
   #{writeForm2_title, jdbcType=VARCHAR},
   #{writeForm2_content, jdbcType=VARCHAR},
   #{writeForm2_latlng, jdbcType=VARCHAR},
   
   #{writeForm3_tasknum, jdbcType=INTEGER},
   #{writeForm3_title, jdbcType=VARCHAR},
   #{writeForm3_status, jdbcType=VARCHAR},
   #{writeForm3_workersName, jdbcType=VARCHAR},
   #{writeForm3_start_date, jdbcType=VARCHAR},
   #{writeForm3_end_date, jdbcType=VARCHAR},
   #{writeForm3_progress, jdbcType=INTEGER},
   #{writeForm3_order, jdbcType=VARCHAR},
   #{writeForm3_content, jdbcType=VARCHAR},
   
   #{writeForm4_title, jdbcType=VARCHAR},
   #{writeForm4_start_date, jdbcType=VARCHAR},
   #{writeForm4_start_time, jdbcType=VARCHAR},
   #{writeForm4_end_date, jdbcType=VARCHAR},
   #{writeForm4_end_time, jdbcType=VARCHAR},
   #{writeForm4_alarm_time, jdbcType=VARCHAR},
   #{writeForm4_content, jdbcType=VARCHAR},
   #{writeForm4_latlng, jdbcType=VARCHAR},
   
   #{writeForm5_title, jdbcType=VARCHAR},
   #{writeForm5_content, jdbcType=VARCHAR},
   #{writeForm5_date, jdbcType=VARCHAR},
   #{writeForm5_worker, jdbcType=VARCHAR}
   
   )
   </insert>

</mapper>