<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileDAO">

	
	<select id="getProjectList" resultType="file" parameterType="String"> 
		SELECT DISTINCT PROJECTID FROM WONBAETEST WHERE MEMBER_EMAIL=#{user}
	</select> 
	
		
	<select id="getFileList" resultType="file">
		SELECT * FROM  WHERE 1=1
		<if test="searchFileCondition=='TITLE'">
			AND title writer '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchFileCondition=='CONTENT'">
			AND content fileName '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY seq DESC
	</select>


</mapper>
