<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectManageDAO">
	 
	<select id="getDownProhibition" parameterType="int" resultType="String">
		SELECT DOWNPROHIBITION FROM PROJECTDIR WHERE PROJECT_ID = #{projectId}
	</select>

	<update id="changeDownProhibitionSetting" parameterType="pmVO">
		UPDATE PROJECTDIR SET DOWNPROHIBITION = #{downProhibition} WHERE PROJECT_ID = #{projectId} 
	</update>
</mapper>
