<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectDirDAO">
	<!-- 프로젝트 조회 맵 -->
	<resultMap type="project_lookup" id="project_lookup">
		<id property="lookup_id" column="LOOKUP_ID"/>
		<result property="project_id" column="PROJECT_NAME"/>
		<result property="member_id" column="USER_NAME"/>
		<result property="project_manager" column="PROJECT_MANAGER" />
		<result property="joindate" column="JOINDATE"/>
		<collection property="project_locker" resultMap="project_locker"></collection>
	</resultMap>

	<insert id="insertProjectLookup" parameterType="project_lookup">
		INSERT INTO project_lookup (lookup_id, project_id, member_id, project_manager)
		VALUES((select nvl(max(lookup_id), 0) +1 from project_lookup), #{project_id}, #{member_id}, #{project_manager})
	</insert>
	
	<select id="getProjectDirTotalList" resultType="project_lookup" parameterType="project_lookup">
		SELECT project_id, member_id, project_favorites, project_locker, hide_locker, project_name, project_manager
		FROM project_lookup 
		INNER JOIN 
		    (
		    SELECT 
		    project_id, project_favorites, project_locker, hide_locker, project_name
		    FROM project_locker 
		    INNER JOIN(
		        SELECT 
		        project_id, project_name
		        FROM projectdir
		        )
		        USING(project_id)
		    ) 
		USING(project_id)
		WHERE member_id = #{member_id} 
	</select>
	<select id="getProjectDirManagerList" resultType="project_lookup" parameterType="project_lookup">
		SELECT project_id, member_id, project_favorites, project_locker, hide_locker, project_name, project_manager
		FROM project_lookup 
		INNER JOIN 
		    (
		    SELECT 
		    project_id, project_favorites, project_locker, hide_locker, project_name
		    FROM project_locker 
		    INNER JOIN(
		        SELECT 
		        project_id, project_name 
		        FROM projectdir
		        )
		        USING(project_id)
		    ) 
		USING(project_id)
		WHERE member_id = #{member_id} and project_manager = #{project_manager}
	</select>

	<select id="getProjectUser" resultType="project_lookup" parameterType="project_lookup">
	</select>
	
</mapper>
