<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectDirDAO">
	
	<resultMap type="projectdir" id="projectdir">
		<result property="projectname" column="PROJECTNAME" />
		<result property="projectuser" column="PROJECTUSER" />
		<result property="projecttype" column="PROJECTTYPE" />
		<result property="projectmanager" column="PROJECTMANAGER" />
		<result property="projectcontent" column="PROJECTCONTENT" />
	</resultMap>
	
	
	<insert id="projectDirInsert" parameterType="projectdir">
		INSERT INTO projectdir (projectnum, projectname, projectuser, projecttype, projectmanager, projectcontent)
		VALUES((select nvl(max(projectnum), 0) +1 from projectdir), #{projectname}, #{projectuser}, #{projecttype}, #{projectmanager}, #{projectcontent}) 
	</insert>
		
	<select id="getProjectDirList" resultType="projectdir" parameterType="projectdir">
		SELECT * FROM projectdir WHERE projectmanager = #{projectmanager} ORDER BY projectnum DESC
	</select>
	
	
</mapper>
