<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectDirDAO">
	
	
	
	<insert id="projectDirInsert" parameterType="projectdir">
		INSERT INTO projectdir (projectname, projectuser, projecttype, projectmanager, projectcontent)
		VALUES(#{projectname}, #{projectuser}, #{projecttype}, #{projectmanager}, #{projectcontent}) 
	</insert>
	
	<select id="getprojectDirList" parameterType="projectdir">
		SELECT * FROM projectdir
		WHERE project
	</select>
	
</mapper>
