<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectDirDAO">
	<!-- 프로젝트 조회 맵 -->
	<resultMap type="projectlookup" id="projectlookup">
		<id property="lookupnum" column="LOOKUPNUM"/>
		<result property="projectname" column="PROJECTNAME"/>
		<result property="username" column="USERNAME"/>
		<result property="projectmanager" column="PROJECTMANAGER" />
		<result property="joindate" column="JOINDATE"/>
	</resultMap>

	<insert id="projectLookup" parameterType="projectlookup">
		INSERT INTO projectlookup (lookupnum, projectname, username, projectmanager)
		VALUES((select nvl(max(lookupnum), 0) +1 from projectlookup), #{projectname}, #{username}, #{projectmanager})
	</insert> 
</mapper>
