<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SignupDAO">

	<resultMap type="signup" id="signResult">
		<result property="email" column="EMAIL" />
		<result property="userName" column="USERNAME" />
		<result property="userId" column="USERID" />
		<result property="userPw" column="USERPW" />
		<result property="salt" column="SALT" />
	</resultMap>

	<insert id="insertMember" parameterType="signup">
		INSERT INTO MEMBERINFO(email, username, userpw, salt) VALUES(#{email}, #{userName}, #{userPw}, #{salt})
	</insert>

</mapper>
