<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	
	<typeAliases>
		<typeAlias alias="user" type="com.spring.plug.login.vo.UserVO"></typeAlias>
		<typeAlias alias="article1VO" type="com.spring.plug.mainpage.article.vo.Article1VO" ></typeAlias>
		<typeAlias alias="projectdir" type="com.spring.plug.mainpage.projectdir.vo.ProjectDirVO"/>
		<typeAlias alias="projectlookup" type="com.spring.plug.mainpage.projectdir.vo.ProjectDirVO"/>
		<typeAlias alias="signup" type="com.spring.plug.login.vo.UserVO"/>
		<typeAlias alias="file" type="com.spring.plug.file.vo.FileVO"/>
		<typeAlias alias="adminSignup" type="com.spring.plug.adminsignup.vo.AdminVO"/>
	
	</typeAliases>
	
	<mappers>
		<mapper resource="mappings/user-mapping.xml" />
		<!-- <mapper resource="mappings/article-mapper.xml" /> -->
		<mapper resource="mappings/projectdir-mapper.xml"/>
		<mapper resource="mappings/projectlookup-mapper.xml"/>
		<mapper resource="mappings/signup-mapper.xml"/>
		<mapper resource="mappings/file-mapper.xml"/>
		<mapper resource="mappings/adminsignup-mapper.xml"/>
	</mappers>
</configuration>
