[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    display: block;
}

#admin_cs_article_contentArea_divText[contenteditable=true]{
    font-size: 12px;
    width: 100%; 
    min-height: 200px;
}






#admin_cs_faq_contentArea{
    width: 800px;
}

#admin_cs_faq_contentArea_writeBtn{
    text-align: right;
}

#admin_cs_faq_contentArea_writeBtn a{
    display: inline-block; 
    text-align: center; 
    vertical-align: middle; 
    width: 50px; 
    height: 20px; 
    border: 1px solid black; 
    border-radius: 5px; 
    color: black;
}

.admin_cs_faq_contentArea_no{
    width: 150px; 
    text-align: center;
}

.admin_cs_faq_contentArea_writer{
    width: 150px; 
    text-align: center;
}

.admin_cs_faq_contentArea_title{
    width: 350px; 
    text-align: center;
}

.admin_cs_faq_contentArea_no{
    width: 100px; 
    text-align: center;
}








#admin_cs_qa_contentArea{
    width: 800px;
}


.admin_cs_qa_contentArea_no{
    width: 150px; 
    text-align: center;
}

.admin_cs_qa_contentArea_writer{
    width: 150px; 
    text-align: center;
}

.admin_cs_qa_contentArea_title{
    width: 350px; 
    text-align: center;
}

.admin_cs_qa_contentArea_no{
    width: 100px; 
    text-align: center;
}

#admin_cs_qa_contentArea_search{
    text-align: right;
}

#admin_cs_qa_contentArea_search select{
    display: inline-block; 
    vertical-align: middle; 
    height: 25px;
}

#admin_cs_qa_contentArea_search input{
    display: inline-block; 
    vertical-align: middle; 
    width: 100px;
}

#admin_cs_qa_contentArea_search button{
    display: inline-block; 
    border-style: none; 
    height: 25px;
}






#admin_cs_article_contentArea{
    width: 800px;
}

#admin_cs_article_contentArea_no{
    display: inline-block; text-align: center; width: 100px;
}

#admin_cs_article_contentArea_writer{
    display: inline-block; text-align: center; width: 90px;
}

#admin_cs_article_contentArea_title{
    display: inline-block; text-align: center; width: 500px;
}

#admin_cs_article_contentArea_regDate{
    display: inline-block; text-align: center; width: 90px;
}

#admin_cs_article_contentArea_lower_btn{
    text-align: right;
}

#admin_cs_article_contentArea_lower_btn a{
    display: inline-block; 
    text-align: center; 
    vertical-align: middle; 
    width: 70px; 
    height: 20px; 
    border: 1px solid black; 
    border-radius: 5px; 
    color: black;
    background-color: aliceblue;
}







#admin_project_content_header{
    margin-bottom: 20px;
}

#admin_project_content_header span{
    font-size: 15px;
}

#admin_project_content{
    width: 800px;
}

#admin_project_content_info table tr{
    width: 500px;
}

#admin_project_content_info table tr th{
    width: 200px;
}

#admin_project_content_info table tr td{
    width: 200px;
}

#admin_project_content_statics{
    margin-top: 30px;
}

#admin_project_content_statics_header{
    margin-bottom: 20px;
}

#admin_project_content_statics_header span{
    font-size: 15px;
}

#statics_compare_yesterday{
    display: inline-block; 
    width: 800px; 
    height: 400px; 
    background-color: bisque;
}

#statics_mothly_create_article_select_date{
    margin-bottom: 10px;
}

#statics_mothly_create_article_select_date select{
    display: inline-block; 
    vertical-align: middle; 
    height: 25px;
}

#statics_mothly_create_article_datepicker{
    display: inline-block; 
    vertical-align: middle;
}

#statics_mothly_create_article_datepicker1{
    width: 100px;
}

#statics_mothly_create_article_datepicker2{
    width: 100px;
}

#statics_mothly_create_article_static{
    width: 800px; height: 400px;
}

#statics_mothly_create_article_pastyear_static{
    display: inline-block; 
    width: 800px; 
    height: 400px; 
    background-color: bisque;
}











































