<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleDAO">

	<insert id="article1Insert" useGeneratedKeys="true" parameterType="article1VO">
	INSERT INTO mainpage_article1
	(project_id,article_id,form_name,writeform1_content,writer,regDate,file_name,img_name) 
	VALUES
	( 1 ,article_seq.nextval , #{form_name}, #{writeform1_content}, 'tester', sysdate, #{file_name}, #{img_name})
	</insert>
















	<insert id="article2Insert" useGeneratedKeys="true" parameterType="article1VO">
	INSERT INTO mainpage_article2
	(project_id, article_id, form_name, writeform2_title, writeform2_content, writeform2_latlng, writer, regDate, file_name, img_name) 
	VALUES
	( 1 ,article_seq.nextval , #{form_name}, #{writeform2_title}, #{writeform1_content}, #{writeform2_latlng}, 'tester', sysdate, #{file_name}, #{img_name})
	</insert>



</mapper>
