@charset "UTF-8";

body {
	font-size: 14px;
}

header {
	display: flex;
	align-items: center;
	height: 60px;
	font-size: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid grey;
}
.wrap{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    width: 1024px;
    height: 100%;
}
.pj_wrap {
	width: 100%;
    height: 100%;
    margin-left: 30px;
}

.titleh1_style {
	padding-bottom: 14px;
	border-bottom: 1px solid #e6e6e6;
}

.tab1_style {
	position: relative;
	height: 41px;
	border-bottom: 1px solid #c5c6cb;
}

.mgt30 {
	margin-top: 30px !important;
}

.tab1_style a.on {
	cursor: default;
	font-weight: bold;
	border-bottom: 4px solid #307cff;
}

.tab1_style a:last-child, .tab1_style a.last {
	border-radius: 0 7px 0 0;
}

.tab1_style a {
	display: inline-block;
	float: left;
	margin-right: -1px;
	min-width: 120px;
	height: 41px;
	line-height: 38px;
	font-size: 15px;
	color: #4f545d;
	font-weight: normal;
	text-align: center;
	border: 1px solid #e7e7e9;
	border-bottom: 0;
	box-sizing: border-box;
}

.titleh2_style {
	position: relative;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

input[type=text], input[type=password], input[type=file] {
	padding-left: 10px;
	height: 30px;
	font-size: 13px;
}

input, select, textarea, button {
	vertical-align: middle;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	font-family: Malgun Gothic, AppleSDGothicNeo, '돋움', '굴림', Arial,
		sans-serif;
}

select {
	height: 32px;
}

.srchbtn_style {
	padding: 0 10px;
	height: 30px;
	line-height: 28px;
	font-size: 14px;
	color: #3d4044;
	font-weight: bold;
	border: 1px solid #c5c6cb;
	border-radius: 2px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

button, a {
	cursor: pointer;
}

a {
	cursor: pointer;
	font-size: 15px;
	margin: 3px 0 3px 0;
	color: #bebec3;
	text-decoration: none;
}

.titleh2_style .right {
	position: absolute;
	top: 0;
	right: 0;
}

.btn_icodown {
	cursor: pointer;
	display: inline-block;
	padding: 0 0 1px 21px;
	line-height: 16px;
	font-size: 12px;
	color: #4c80d6;
	text-decoration: underline;
	border: 0;
	background: url(../images/ico_down.png) no-repeat 0 2px;
}

.list_table {
	position: relative;
}

.mgt10 {
	margin-top: 10px !important;
}

.mgb15 {
	margin-bottom: 15px !important;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

legend, caption, hr {
	display: none;
}

.list_table thead th {
	height: 37px;
	background-color: #f9f9fb;
}

.list_table th, .list_table td {
	vertical-align: middle;
	font-size: 13px;
	color: #111;
	text-align: center;
	font-weight: normal;
	border: 1px solid #e1e1e2;
}

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
	-ms-touch-action: auto;
	touch-action: auto;
}

.scrollbox.mCustomScrollbar {
	border-bottom: 1px solid #e1e1e2;
}

.scrollbox {
	position: relative;
	overflow-y: auto;
}

.mCustomScrollBox {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.list_table tbody td {
	position: relative;
	padding: 8px 0 8px 0;
	/* height: 25px; */
	line-height: 16px;
	word-break: break-all;
}

.bgmodal_wrap {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: auto;
}

.lyaer_popup_wrap {
	z-index: 500;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
}

.lyaer_popup_top {
	position: relative;
	padding: 25px 30px 0 30px;
}

.lyaer_popup_top h1 {
	padding-bottom: 14px;
	font-size: 19px;
	color: #111111;
	font-weight: 700;
	border-bottom: 1px solid #e6e6e6;
}

input.pop_close {
	display: block;
	position: absolute;
	top: 20px;
	right: 30px;
	width: 30px;
	height: 30px;
	border: 0;
	background: url(../images/btn_popclose.gif) no-repeat center;
}

.lyaer_popup_cont {
	position: relative;
	padding: 0 30px;
	margin-bottom: 30px;
	overflow-y: auto;
}

.srch_table .htlowtype th, .srch_table .htlowtype td {
	height: 22px;
}

.srch_table th {
	font-size: 14px;
	color: #4f545d;
	font-weight: bold;
}

.srch_table th, .srch_table td {
	height: 32px;
	padding: 5px 0 6px 0;
	vertical-align: middle;
	text-align: left;
}

.srch_table td {
	font-size: 13px;
	color: #4f545d;
}

.btn_style1_s {
	padding: 0 12px;
	height: 28px;
	line-height: 24px;
	font-size: 13px;
	color: #3d4044;
	font-weight: bold;
	border: 1px solid #c5c6cb;
	border-radius: 2px;
	box-sizing: border-box;
}

.list_table th, .list_table td {
	vertical-align: middle;
	font-size: 13px;
	color: #111;
	text-align: center;
	font-weight: normal;
	border: 1px solid #e1e1e2;
}

.admin-release {
	color: #d03737;
	font-weight: 600;
}

.btn_wrap {
	position: relative;
}

.btn_wrap .left {
	position: absolute;
	top: 1px;
	left: 0;
}

.mgt15 {
	margin-top: 15px !important;
}

.t_center {
	text-align: center !important;
}

.btn_popstyle2.bgred {
	min-width: 100px;
	height: 36px;
	line-height: 34px;
	font-size: 16px;
	color: #fff;
	background-color: #d03737;
	border-radius: 2px;
}

.btn_popstyle1.bgblue {
	color: #fff;
	border-color: #307cff;
	background-color: #307cff;
}

.btn_popstyle1 {
	min-width: 120px;
	height: 36px;
	line-height: 34px;
	font-size: 16px;
	color: #4c4c4c;
	border: 1px solid #c5c6cb;
	border-radius: 3px;
}

.btn_popstyle1 {
	min-width: 120px;
	height: 36px;
	line-height: 34px;
	font-size: 16px;
	color: #4c4c4c;
	border: 1px solid #c5c6cb;
	border-radius: 3px;
}

.layer_popup_wrap {
	z-index: 500;
	position: absolute;
	top: 49%;
	left: 50%;
	background-color: #fff;
	border-radius: 5px;
}

.layer_popup_top {
	position: relative;
	margin: 25px 30px 0 30px;
	padding: 0 0 14px 0;
	border-bottom: 1px solid #e6e6e6;
}

.layer_popup_top h1 {
	font-size: 19px;
	color: #111111;
	font-weight: 300;
}

.layer_popup_top .pop_close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}


img, label {
	vertical-align: middle;
}

.mgt20 {
	margin-top: 20px !important;
}

.layer_popup_cont {
	position: relative;
	margin: 0 30px;
}

.bgmodal {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.titleh1_style h1 {
	line-height: 24px;
	font-size: 19px;
	color: #111111;
	font-weight: 500;
}

.srch_table+.btn_both {
	margin-top: 10px;
}

.btn_both .left {
	text-align: left;
}

.plusbtn_style {
	padding: 0 15px;
	height: 32px;
	line-height: 30px;
	font-size: 14px;
	color: #3d4044;
	font-weight: bold;
	border: 1px solid #c5c6cb;
	border-radius: 2px;
}

.btn_both+.list_table {
	margin-top: 5px !important;
}

.titleh1_style+.btn_both {
	margin-top: 15px;
}

.btn_both {
	position: relative;
	min-height: 30px;
}

.btn_style1.bgblue {
	color: #fff;
	border-color: #307cff;
	background-color: #307cff;
}

.btn_style1 {
	padding: 0 10px;
	height: 30px;
	line-height: 28px;
	font-size: 14px;
	color: #4c4c4c;
	font-weight: bold;
	border: 1px solid #c9c9c9;
	border-radius: 2px;
	background-color: #fff;
}

.btn_both .right {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

input[type=checkbox], input[type=radio] {
	width: 16px;
	height: 16px;
	border: 1px solid #b2b2b2;
}

.btn_both+.list_table.type2 {
	margin-top: 10px !important;
}

.list_table.type2 {
	border-left: 1px solid #e1e1e2;
	border-right: 1px solid #e1e1e2;
}

.list_table.type2 th, .list_table.type2 td {
	border-left: 0;
	border-right: 0;
}