body {
	margin: 0 auto;
	background-color: #f2f2f2;
	border: 1px solid #eaeaea;
	overflow-x: hidden;
	font-family: Malgun Gothic, Apple SD Gothic Neo, '돋움', '굴림', Arial,
		sans-serif;
	
	height: 768px;
}

.mainWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
    height: 100%;
    padding-top: 60px;
}
#main-contents{
	margin-left: 50px;
	width: 70%;
}
.header {
	display: flex;
	align-items: center;
	height: 60px;
	font-size: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid grey;
}

label {
	font-size: 12px;
}

.contents {
	height: 760px;
}

.select-type-text-div {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.month-select {
	display: block;
}

.week-select {
	display: none;
}

.select-bt-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 5%;
	margin-top: 15px;
}

.select-bt-div button {
	width: 100px;
	height: 100%;
	border: 1px solid #e1e1e2;
}

#chart-div {
	
}

.data-input-div {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width:650px;
	height: 5%;
}

.data-input-div form {
	height: 100%;
}

#search-type {
	width: 80px;
	height: 30px;
	margin-right: 10px;
	border: 1px solid #e1e1e2;
}

.search-keyword {
	width: 250px;
	height: 30px;
	border: none;
	margin-right: 20px;
}

#submit-bt {
	width: 100px;
	height: 32px;
	background-color: white;
	border: 1px solid #e1e1e2;
	margin-right: 20px;
}

.table-view-div {
	min-width:600px;
	text-align : center;
}

.statistics {
	width: 100%;
	display: table;
	
	empty-cells: show;
	border-collapse: collapse;
	border-color: grey;
}

.con-statistics-tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	height: 40px;
	
}

.con-statistics-tr td{
	
    font-size: 13px;
    background-color: #f9f9fb;
    color: blueviolet;
    font-weight: normal;
    border: 1px solid #e1e1e2;
	
}

.con-statistics-tr th {
	
	font-size: 13px;
	background-color: #f9f9fb;
	color: blueviolet;
	font-weight: normal;
	border: 1px solid #e1e1e2;
}

.statistics-data-row td {
	font-size: 13px;
    background-color: #f9f9fb;
    font-weight: normal;
    border: 1px solid #e1e1e2;
    padding: 3px;
}

#select-month{
	width: 70px;
    margin-right: 20px;
}
