body {
	font-family: Malgun Gothic, Apple SD Gothic Neo, '돋움', '굴림', Arial,
		sans-serif;
}

a {
	cursor: pointer;
}

.centerArea {
    display: flex;
    width: 1024px;
    height: 768px;
    flex-direction: row;
    position: relative;
    padding-top: 60pt;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.article{
	width: 824px;
    margin-left: 250px;
}

header {
	width: 100%;
	height: 10%;
	font-size: 30px;
	border-bottom: 3px solid #6862c3;
}

.language-setting-div {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 8%;
	margin-left: 15px;
	margin-top: 20px;
	align-items: center;
}

#language-select {
	margin-left: 57px;
	width: 400px;
	height: 40px;
}

.small-text {
	margin: 15px 0 25px 15px;
	font-size: 13px;
}

.timezone-setting-div {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 8%;
	align-items: center;
	margin: 15px 0 0 15px;
	border-top: 1px solid #eaeaea;
	padding-top: 20px;
}

#timezone-select {
	margin-left: 40px;
	width: 400px;
	height: 40px;
}