@charset "UTF-8";
/* CSS Document */

/* flow style normalize
========================================================================== */
/* 스포카 한 산스 폰트 적용 */
/*@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css"); url 깃헙 사용시*/
@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 100;
	src: local('Spoqa Han Sans Thin'), local('Spoqa Han Sans Thin'),
		url('../font/Spoqa Han Sans Thin.woff') format('woff'),
		url('../font/Spoqa Han Sans Thin.woff2') format('woff2'),
		url('../font/Spoqa Han Sans Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 300;
	src: local('Spoqa Han Sans Light'), local('Spoqa Han Sans Light'),
		url('../font/Spoqa Han Sans Light.woff') format('woff'),
		url('../font/Spoqa Han Sans Light.woff2') format('woff2'),
		url('../font/Spoqa Han Sans Light.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 400;
	src: local('Spoqa Han Sans Regular'), local('Spoqa Han Sans Regular'),
		url('../font/Spoqa Han Sans Regular.woff') format('woff'),
		url('../font/Spoqa Han Sans Regular.woff2') format('woff2'),
		url('../font/Spoqa Han Sans Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 700;
	src: local('Spoqa Han Sans Bold'), local('Spoqa Han Sans Bold'),
		url('../font/Spoqa Han Sans Bold.woff') format('woff'),
		url('../font/Spoqa Han Sans Bold.woff2') format('woff2'),
		url('../font/Spoqa Han Sans Bold.ttf') format('truetype');
}

/* basic */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary, footer, copyright {
	display: block;
}

body {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	font-family: 'SpoqaHanSans', 'Sans-serif', '돋움', 'Dotum', '굴림', 'Gulim',
		'Arial';
}
/* 모바일 가로모드 폰트확대 방지
body{-webkit-text-size-adjust:none;} */
div, p, ol, ul, li, img, a, h1, h2, h3, form, span, iframe, dl, dt, dd {
	
}

dl, ul, ol {
	list-style: none;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	table-layout: fixed;
	border-spacing: 0;
}

fieldset {
	border: none;
}

pre {
	overflow: auto;
}

figure {
	margin: 1em 40px;
}

hr, caption {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}

legend {
	display: none;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

em, address {
	font-style: normal;
}

img {
	border: 0;
}

img, label {
	vertical-align: middle;
}

[hidden], template {
	display: none;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
}

textarea {
	overflow: auto;
	resize: none;
}

select {
	
}

select, button {
	text-transform: none;
}

button, html input[type=button], html input[type=reset], html input[type=submit]
	{
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button {
	cursor: pointer;
	border: 0;
	background-color: transparent;
	overflow: visible;
	outline: 0;
}

input {
	vertical-align: middle;
	line-height: normal;
}

input[type=text], input[type=password] {
	
}

input[type=file] {
	
}

input[type=checkbox], input[type=radio] {
	width: 16px;
	height: 16px;
	border: none;
	background: transparent;
	vertical-align: middle;
	-webkit-border-radius: 0;
	box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	height: auto;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

select:focus {
	outline: none;
}

button:focus {
	outline: none;
}

:focus {
	outline: none;
}
/* IE10 input type auto x delete
input[type=text]::-ms-clear,input[type=file]::-ms-clear,input[type=number]::-ms-clear,input[type=tel]::-ms-clear{display:none;} */

/* placeholder */
/* Webkit */
input::-webkit-input-placeholder {
	color: #a6a6a6;
}

textarea::-webkit-input-placeholder {
	color: #a6a6a6;
}
/* Firefox 4-18 */
input:-moz-placeholder {
	color: #a6a6a6;
}

textarea:-moz-placeholder {
	color: #a6a6a6;
}
/* Firefox 19+ */
input::-moz-placeholder {
	color: #a6a6a6;
}

textarea::-moz-placeholder {
	color: #a6a6a6;
}
/* IE10+ */
input:-ms-input-placeholder {
	color: #a6a6a6;
}

textarea:-ms-textarea-placeholder {
	color: #a6a6a6;
}

/* default link */
/* a{outline:none;select-dummy:expression(this.hideFocus=true);} 링크테두리 제거 */
a {
	cursor: pointer;
	background-color: transparent;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	outline: 0;
}

/* 드래그색상 정의
::-moz-selection{ background:#263658; color:#fff;}
::selection{ background:#263658; color:#fff;} */

/* align */
.t_center {
	text-align: center !important;
}

.t_right {
	text-align: right !important;
}

.t_left {
	text-align: left !important;
}

.v_top {
	vertical-align: top !important;
}

.v_middle {
	vertical-align: middle !important;
}

.v_bottom {
	vertical-align: bottom !important;
}

.f_right {
	float: right !important;
}

.f_left {
	float: left !important;
}

.f_none {
	float: none !important;
}

/* margin/padding */
.mgt5 {
	margin-top: 5px !important;
}

.mgt10 {
	margin-top: 10px !important;
}

.mgt20 {
	margin-top: 20px !important;
}

.mgb5 {
	margin-bottom: 5px !important;
}

.mgb10 {
	margin-bottom: 10px !important;
}

.mgb15 {
	margin-bottom: 15px !important;
}

.mgb20 {
	margin-bottom: 20px !important;
}

.mgb25 {
	margin-bottom: 25px !important;
}

.mgb30 {
	margin-bottom: 30px !important;
}

/* etc */
.blind {
	display: none !important;
}

.skip {
	position: absolute;
	top: -100000px;
	left: -100000px;
	visibility: hidden;
	overflow: hidden;
}

hr {
	display: block;
	clear: both;
	overflow: hidden;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
}

/* h */
h1 {
	font-size: 3.250rem;
	font-weight: 400;
} /* 52px */
h1.fs-s {
	font-size: 3rem;
} /* 48px */
h2 {
	font-size: 2.875rem;
	font-weight: 400;
	letter-spacing: -0.5px;
} /* 46px */
h2.fs-s {
	font-size: 2.750rem;
} /* 44px */
h2.fs-s2 {
	font-size: 2.500rem;
} /* 40px */
h3 {
	font-size: 1.500rem;
	font-weight: 400;
} /* 24px */
h4 {
	font-size: 1.375rem;
	font-weight: 400;
} /* 22px */
h5 {
	font-size: 1.200rem;
	font-weight: 400;
} /* 20px */
h5.fs-s {
	font-size: 1.125rem;
} /* 18px */
@media screen and (max-width:414px) {
	h1, h1.fs-s {
		font-size: 1.938rem;
		font-weight: 400;
	} /* 31px : 52px */
	h2 {
		font-size: 1.938rem;
		font-weight: 400;
	} /* 31px : 46px */
	h2.fs-s, h2.fs-s2 {
		font-size: 1.563rem;
	} /* 25px : 44px,40px*/
	h3 {
		font-size: 1.500rem;
		font-weight: 400;
	} /* 24px : 24px */
	h4 {
		font-size: 1.125rem;
		font-weight: 400;
	} /* 18px : 22px*/
	h5, h5.fs-s {
		font-size: 0.938rem;
		font-weight: 400;
	} /* 15px : 18px,20px */
}

/* ico_ */
[class^="ico_"]:before, [class*="ico_"]:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

/* btn_ */
[class^="btn_"], [class*="btn_"] {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}