body {
	font-family: Malgun Gothic, Apple SD Gothic Neo, '돋움', '굴림', Arial,
		sans-serif;
	background-color: #f2f2f2 !important;
	margin-top: 0;
}

a {
	cursor: pointer;
}

label {
	width: 120px;
}

.wrap {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.centerArea {
    display: flex;
    width: 1024px;
    height: 768px;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 30px;
    background-color: #f2f2f2;
    padding-top: 90px;
}

.article {
    width: 824px;
    margin-left: 20px;
}

header {
	width: 100%;
	height: 10%;
	font-size: 30px;
	border-bottom: 3px solid #6862c3;
}

.text-area {
	height: 10%;
	padding-bottom: 50px;
	margin: 25px 0 15px 15px;
	
}

.form-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40%;
	flex: 1 1 0%;
}

.form-container input {
	height: 90%;
}

.input-password {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	width: 100%;
	margin-left: 15px;
}

.check-password {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	width: 100%;
	margin: 20px 0 0 15px;
}

.change-button {
	margin-left: 20px;
	padding: 0 10px;
	width: 100px;
	height: 25px;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	border-top: 1px solid #807ccb;
	border-right: 1px solid #5753a5;
	border-bottom: 1px solid #4e4b95;
	border-left: 1px solid #736fc6;
	border-radius: 3px;
	background-color: #6661c1;
}

#hidden-status{
width: 300px;
    background-color: #6862c3;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    display:none;
}