.work_nemu, .contents, .container {
	background-color: rgb(242, 242, 242);
}

<!--
-->
.container {
	width: 1024px;
	height: 768px;
}

.contents {
	max-width: 874px;
	height: 768px;
}

.work_nemu {
	height: 100%;
}

.excel_load {
	margin-right: 5px;
	float: left;
}

.view_btn {
	margin-right: 5px;
	float: left;
}

.task_set {
	margin-right: 5px;
	float: left;
}

.task_close {
	margin-right: 5px;
	float: right;
}

.task_contents {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

.contents_scroll {
	width: 100%;
}

.work_table {
	/* width: 87%; */
	top: 100px;
	height: 88%;
	position: fixed;
	background-color: #fff;
	width: 972px;
}

.work_table::-webkit-scrollbar {
	width: 10px;
}

.work_table::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.work_table::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.table_list {
	width: 100%;
}

.table_list td {
	text-align: center;
	font-size: 14px;
}

.work_header {
	width: 100%;
}

.work_table_th {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	table-layout: fixed;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 1px;
	border-bottom: 1px solid #eaeaea;
	height: 44px;
	margin-bottom: 10px
}

.work_table_th a {
	font-size: 14px;
	color: #969696;
	font-weight: 700
}

.work_table_th a.on {
	font-size: 14px;
	color: #111;
	font-weight: 700;
	text-decoration: underline
}

.task_head {
	float: right;
}

#task_menu span {
	font-size: 14px;
}

#task_menu a {
	font-size: 16px;
}

<!--
-->
<!--
-->
.calendar_contents {
	width: 100%;
	background-color: #FFFFFF;
}

.calendar_content {
	width: 100%;
}

<!--
-->
.project_div {
	box-sizing: border-box;
	margin: 0 10px 22px 10px;
	float: left;
	width: 185px;
	height: 150px;
	border-radius: 10px;
	position: relative;
}

.project_select {
	z-index: 100;
	cursor: pointer;
	box-sizing: border-box;
	padding: 15px 22px 0;
	background-color: gray;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.title_box {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -1px;
}

.title_box_s {
	position: absolute;
	bottom: 22px;
}

.title_btn {
	font-size: 0px;
	position: absolute;
	width: 30px;
	height: 30px;
	border: 0px;
	right: 17px;
	bottom: 19px;
	background: url(../images/ico_star.png) no-repeat 0 -30px;
}

.title_btn_check {
	font-size: 0px;
	position: absolute;
	width: 30px;
	height: 30px;
	border: 0px;
	right: 17px;
	bottom: 19px;
	background-position: 0 0 !important;
	background: url(../images/ico_star.png) no-repeat 0 -30px;
}

<!--
-->
[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
}

.div_text_write[contenteditable=true] {
	font-size: 12px;
	width: 100%;
	min-height: 100px;
}

#dimmed, #new_plus, #locker_change {
	background: rgb(0, 0, 0, .4);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: -1;
}

<!--
-->
.content_set {
	position: absolute;
	right: 40px;
	padding: 10px 5px;
	font-size: 12px;
	background-color: white;
	display: none;
	z-index: 301;
	font-size: 12px;
	margin-top: 20px;
	border-bottom: 1px solid #eaeaea;
	float: left;
}

.content_set a {
	
}

.content_set a:hover {
	cursor: pointer;
	background-color: aqua;
	opacity: 0.3;
}

.post_idx {
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 10px;
	border: lightgray solid 1px;
}

.top_writer {
	display: inline-block;
	width: 100%;
	height: 60px;
	padding: 25px 12px 0px 25px;
}

.box_btn {
	padding: 5px;
	width: 60px;
}

.post {
	padding: 7px 25px 20px 25px;
	border-bottom: 1px solid #eaeaea;
}

.post_writer .photo:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	content: "";
	display: block;
	border-radius: 40px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
}

.pin {
	font-size: 0px;
	border: 0px;
	margin-top: 3px;
	cursor: pointer;
	display: block;
	width: 30px;
	height: 40px;
	background: url(../images/aln_pin_off.png) no-repeat;
}

.pin_pixed {
	font-size: 0px;
	border: 0px;
	margin-top: 3px;
	cursor: pointer;
	display: block;
	width: 30px;
	height: 40px;
	background: url(../images/aln_pin_on.png) no-repeat;
}

#set_icon {
	cursor: pointer;
	display: block;
	width: 30px;
	height: 40px;
	background: url(../images/btn_folder_manage_off.png) no-repeat;
}

#download_icon {
	float: left;
	margin: 18px 0 0 18px;
	width: 42px;
	height: 42px;
	background: url(../images/file_icon2_down.png) no-repeat;
}

#down_logo {
	background: url(../images/btn_icon_down.gif) no-repeat 0px 3px;
}

.msg_page pre {
	display: inline-block;
	font-family: monospace;
	white-space: pre;
	margin: 0em 0px;
}

.file_div {
	margin: 15px 0 0 80px;
}

.down_fil {
	position: absolute;
	right: 30px;
	top: 28px;
}

#remark_like_icon {
	background-position: 0 -153px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 9px;
	margin-top: -4px;
	padding-left: 20px;
	font-size: 12px;
	font-weight: 700;
	color: #a2a2a2;
	background-image: url(../images/icon_post_btm.png);
	background-repeat: no-repeat;
}

#like_icon {
	background-position: 0 -153px;
	display: block;
	padding-left: 26px;
	padding-right: 15px;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	font-weight: 700;
	color: #a2a2a2;
	background-image: url(../images/icon_post_btm.png);
	background-repeat: no-repeat;
}

#input_btn_icon {
	background-position: 0 2px;
	display: block;
	padding-left: 26px;
	padding-right: 15px;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	font-weight: 700;
	color: #a2a2a2;
	background-image: url(../images/icon_post_btm.png);
	background-repeat: no-repeat;
}

#bringIcon {
	background-position: 0 -66px;
	display: block;
	padding-left: 20px;
	padding-right: 15px;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	font-weight: 700;
	color: #a2a2a2;
	background-image: url(../images/icon_post_btm.png);
	background-repeat: no-repeat;
}

#bringIcon_on {
	background-position: 0 -99px;
	display: block;
	padding-left: 20px;
	padding-right: 15px;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	font-weight: 700;
	color: #a2a2a2;
	background-image: url(../images/icon_post_btm.png);
	background-repeat: no-repeat;
}

.bottom_lay {
	border-bottom: 1px solid #eaeaea;
	position: relative;
	height: 40px;
}

.bottom_lay ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-top: 6px;
}

.bottom_list {
	margin-left: 10px;
	list-style: none;
}

.bottom_list li {
	float: left;
}

.remark_div {
	padding: 10px 0px 5px 0px;
	position: relative;
}

.remark_data {
	width: 80%;
	background-color: transparent;
	min-height: 20px;
	margin-left: 45px;
	margin-top: -4px;
	padding: 5px 0 5px 9px;
	font-size: 13px;
	color: #000;
}

.msg_data, .msg_data_if {
	width: 80%;
	background-color: transparent;
	margin-left: 45px;
	margin-top: -4px;
	padding: 5px 0 5px 9px;
	font-size: 13px;
	color: #000;
}

.remark_data #reply {
	width: 80%;
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 0em 0px;
	padding: 1px;
	font-size: 14px;
}

.remarkcntn {
	width: 80%;
	background-color: transparent;
	min-height: 20px;
	margin-top: 2px;
	margin-left: 45px;
	padding: 5px 0 5px 9px;
	font-size: 13px;
	border: 1px solid #e7e7e7;
	color: #000;
}

.remark_setting {
	font-size: 12px;
	display: inline-block;
	float: right;
	padding-top: 5px;
	margin-right: 10px;
}

.remark_setting span:hover {
	
}

.remark_upload {
	display: block;
	position: absolute;
	margin-top: 10px;
	top: 1px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url(../images/ico_s_file.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

.post_image {
	padding-top: 10px;
	padding-bottom: 5px;
	clear: both;
	overflow: hidden;
}

.remark_images {
	padding-top: 10px;
	padding-left: 45px;
	padding-bottom: 5px;
	clear: both;
	overflow: hidden;
}

.remark_files {
	padding-top: 10px;
	padding-left: 45px;
	padding-bottom: 5px;
}

#remark_down_icon {
	float: left;
	width: 25px;
	height: 25px; cover;
	background-image: url(../images/file_icon2_down.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.remark_files {
	font-size: 12px;
	color: #333;
}

.file_box {
	width: 87%;
	position: relative;
	padding: 6px 7px 9px 7px;
	margin-bottom: 5px;
	border: 1px solid #d8d9da;
	background-color: #fbfbfc;
}

#file_div_close {
	position: absolute;
	top: -6px;
	right: -6px;
	cursor: pointer;
	margin-left: 6px;
	width: 20px;
	height: 20px;
	border: 0;
	background: url(../images/btn_photodel.png) no-repeat;
}

#img_close {
	margin-left: -17px;
	margin-top: -15px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 0;
	background: url(../images/btn_photodel.png) no-repeat;
}

.post_load_img {
	float: left;
	width: 153px;
	height: 153px; cover;
	box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .05);
	background-image: url(../images/다운로드.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.remark_load_img {
	float: left;
	width: 90px;
	height: 90px; cover;
	box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .05);
	background-image: url(../images/다운로드1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.works {
	padding: 10px 10px 15px 10px;
}

.work_top {
	text-align: right;
	padding-bottom: 15px;
}

.work_top strong {
	float: left;
}

.progressbar {
	border-radius: 3em;
	width: 100%;
	height: 10px;
	background-color: #ddd;
}

.p_bar {
	border-radius: 3em;
	width: 22%;
	height: 10px;
	background-color: #4CAF50;
}

.work_list_div {
	width: 100%;
	display: inline-flex;
	padding: 10px 5px;
}

#user_profile {
	width: 40px;
	height: 40px; cover;
	background-image: url(../images/empty_photo_s.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#user_profile_work {
	width: 26px;
	height: 26px; cover;
	background-image: url(../images/empty_photo_s.png);
	background-size: cover;
	background-repeat: no-repeat;
	float: right;
	margin-top: -3px;
}

.msg_user {
	padding: 5px 0px 5px 0px;
}

#user_profile_msg {
	width: 28px;
	height: 28px; cover;
	background-image: url(../images/empty_photo_s.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#user_profile_remark {
	width: 32px;
	height: 32px; cover;
	background-image: url(../images/empty_photo_s.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#user_profile_remark_add {
	width: 32px;
	height: 32px; cover;
	background-image: url(../images/empty_photo_s.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.work_calendar {
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eaeaea;
}

.work_calendar_header {
	width: 91px;
	height: 80px;
	text-align: center;
	border-right: 1px solid #eaeaea;
	display: inline-block;
	position: absolute;
}

.work_month {
	display: block;
	padding-top: 9px;
	font-size: 16px;
	color: #d64648;
}

.work_day {
	display: block;
	margin-top: -20px;
	font-size: 30px;
	color: #111;
	font-weight: normal;
}

.wc_title {
	width: 60%;
	padding-top: 6px;
	height: 35px;
	font-size: 16px;
	color: #111;
	font-weight: 700;
	border-bottom: 1px solid #e5e6e9;
	display: inline-block;
	margin-left: 110px;
}

.wc_date {
	margin-left: 110px;
	color: #333;
	font-weight: 700;
}

.work_map {
	padding: 8px 0px;
	border-bottom: 1px solid #eaeaea;
}

.map_icon {
	display: block;
	width: 14px;
	height: 20px;
	position: absolute; cover;
	background-image: url(../images/ico_map.png);
	background-size: cover;
	background-repeat: no-repeat 3px 0;
}

.work_memo {
	width: 100%;
	padding: 8px 0px;
	border-bottom: 1px solid #eaeaea;
}

.memo_icon {
	display: block;
	width: 18px;
	height: 20px;
	position: absolute; cover;
	background-image: url(../images/ico_memo.png);
	background-size: cover;
	background-repeat: no-repeat 3px 0;
}

.work_alarm {
	width: 100%;
	padding-top: 8px;
}

.alarm_icon {
	display: block;
	width: 18px;
	height: 20px;
	position: absolute; cover;
	background-image: url(../images/ico_alarm.png);
	background-size: cover;
	background-repeat: no-repeat 3px 0;
}

.dir_set {
	float: right;
	padding-left: 5px;
}

.dir_set_on {
	float: right;
	padding-left: 5px;
}

.project_div_on {
	box-sizing: border-box;
	margin: 0 10px 22px 10px;
	float: left;
	width: 185px;
	height: 150px;
	border-radius: 10px;
	position: relative;
	opacity: 0.4;
}

.div_btn {
	display: none;
	z-index: 201;
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 38px;
	height: 38px;
	background: url(../images/btn_checkbox3.png);
}

.div_btn_on {
	z-index: 201;
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 38px;
	height: 38px;
	background: url(../images/btn_checkbox3.png);
	background-position: 0 -38px;
}

.dir_set_bar {
	margin: auto;
	width: 1024px;
	font-size: 24px;
	text-align: center;
	margin-top: 9px;
}

.dir_set_bar span {
	margin-left: 20px;
	cursor: pointer;
}

.locker_list_set {
	display: none;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-49%, -47%);
	z-index: 1000;
}

.locker_list_set sapn:hover {
	cursor: pointer;
}

.locker_save {
	border-radius: 10px;
	overflow: scroll;
	-ms-overflow-style: none;
	position: absolute;
	font-size: 18px;
	background-color: whitesmoke;
	width: 300px;
	max-height: 600px;
}

.locker_save::-webkit-scrollbar {
	display: none;
}
.locker_cancel{
	cursor: pointer;
}
.locker_set_div{
    background-color: #eaeaea;
}
.locker_set_div span{
	cursor: pointer;
}


.locker_save_list ul {
	list-style: none;
	padding: 0 0 0 6px;
}

.locker_save_list input[type=checkbox] {
	margin: 10px 16px;
	width: 16px;
	height: 16px;
}

.locker_save_list label {
	cursor: pointer;
}

.locker_save_h {
	background-color: darkgray;
	text-align: center;
}

.locker_save_h span {
	float: right;
	margin-top: 1px;
	right: 14px;
	position: relative;
	font-size: 20px;
}

.locker_save_h h3 {
	margin-bottom: 10px;
}

.locker_save_list {
	
}

.modified_btn {
	margin-top: 5px;
	margin-right: 10px;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	padding: 5px 20px;
	font-weight: 700;
	background: blanchedalmond;
	border-radius: 10px;
	color: #a2a2a2;
}

.modified_ta {
	min-height: 50%;
}

.pspan {
	font-weight: bold;
	position: absolute;
	margin-top: 8.5px;
	margin-left: 46px;
}

.taskpbar {
	height: 40px;
	width: 110px;
}

.tdate {
	padding: 0px 17px;
}

.table_list a {
	font-weight: normal;
}

.work_table {
	overflow-y: auto;
}

.tstatus {
	padding: 1px 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: 800;
}

.container {
	top: 66px;
	position: relative;
}

#task_menu {
	float: left;
	padding: 5px 40px 0px 5px;
}

#task_menu span {
	margin-left: 10px;
}

#status_select_div span {
	width: 100%;
	display: block;
	border-radius: 3px;
}

tr#task_board:hover {
	cursor: pointer;
	background-color: #eaeaea;
}
#juser::-webkit-scrollbar {
	width: 10px;
}

#juser::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-clip: padding-box;
	border: 1px solid transparent;
}

#juser::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}